<h2 class="intro-header">Fullstack Development, your way.</h2>

<p>
    Have a legacy monster which must be brought to heel? Junior developers frying their circuits grasping your tech stack?
    Experienced the BIG idea and need it made yesterday?
</p>

<p>
    Let me handle it.
</p>

<p>
    With 10 years of personal and professional experience across a multitude of languages and technologies, my always curious, mission focused attitude keeps the team on track, delivering.
</p>

<p>
    Interest piqued?
</p>

<a routerLink="contact">Contact me</a>