html * {
  font-family: Inconsolata, serif;
  padding: 2rem;
}

.app-topside {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header {
  flex-grow: 1;
}

nav {
  align-items: flex-end;
}

span.pos-period {
  float: right;
  font-size: 0.8rem;
  justify-content: flex-end;
}
